body{
  text-align:center;
   background: linear-gradient(#42f5e3 0%, #16fa71 100%);
}
img{
  boder-radius:50%;
    width:100px;
}
#bio{
  padding:20px;
  font-size:18;
  text-align:center;
}
h1{
  font-size:20px;

}
.menu{
  list-style:none;
  font-family:cursive;
  float:right;
  top:10px;
  right:30px;
  cursor:pointer;
  clor:black;
}